@model JalgrattaEksamMVC.Models.Jalgrattaeksam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jalgrattaeksam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eesnimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eesnimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perekonnanimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perekonnanimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teooriatulemus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teooriatulemus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slaalom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slaalom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ringtee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ringtee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luba)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
