@model IEnumerable<JalgrattaEksamMVC.Models.LubaViewModel>

@{
    ViewData["Title"] = "Luba";
}

<h1>Luba</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perekonnanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teooriatulemus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slaalom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ringtee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanav)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perekonnanimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teooriatulemus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slaalom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ringtee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanav)
            </td>

            <td>
            @if (item.Luba == "Väljasta")
            {
                <a asp-action="VäljastaLuba" asp-route-id="@item.Id" asp-route-tulemus="1">Väljasta</a>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Luba)
            }

            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>